@model Pk2_Rsvp.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agradecimientos</title>
</head>
<body>
    <div>
        <h1> Gracias, @Model.Name!! </h1>
        @if(Model.WillAttend == true)
        {
            @: Que bueno que vendras!!!!
        }
        else 
        {
            @: Lamento mucho no puedas venir....
        }
    </div>
</body>
</html>
