@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   <link rel="stylesheet"  type="text/css" href="~/Content/Site1.css" />
    <title>Index</title>
</head>
<body background="~/Content/piolin.jpg">
    <center>
    
    <div>
        
      
        <h2 id="prueba">
            <img src="~/Content/taz.jpg" /><br />
        <b>@ViewBag.Greeting Amigo</b> 
            <h2 id="inicio">
        <center><p>Vamos a tener una fiesta increible<br /> </center> 
           
            <h4 id="invitacion">
        </p>
            @Html.ActionLink("RSVP Ahora", "RsvpForm");
                </h2>
            </h2>
        
            
    </div>
        
       </center>
</body>
</html>
